n8n/workflows/silverman-blog-linkedin-flow-a-publish.json
{
  "name": "Silverman Blog LinkedIn Flow A Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "a1f8e2fd-b6a8-478c-b5ce-44a1494d993f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "options": {
          "timezone": "UTC"
        }
      },
      "id": "85bc37be-0745-47c0-b8ce-13f9eb2728ef",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ],
      "notes": "US-010: Daily 09:00 UTC via cron 0 9 * * *. Timezone UTC (workflow/settings). Manual Trigger retained for operator runs. Ready-folder orchestration path only; calendar due connector is separate."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "571ade30-270b-4c2f-ad84-d86b0bc739d4",
              "name": "worker_base_url",
              "value": "http://192.168.0.194:8010",
              "type": "string"
            },
            {
              "id": "dc109a51-b095-44f8-a31f-36a254ac3d0c",
              "name": "worker_api_key",
              "value": "CHANGE_ME_WORKER_API_KEY",
              "type": "string"
            },
            {
              "id": "b50b1b3f-8bef-402c-b111-35a5a21ef036",
              "name": "site_url",
              "value": "https://silverman.pro",
              "type": "string"
            },
            {
              "id": "d9e4b3c2-5e6f-7081-9203-b4c5d6e7f809",
              "name": "topic_theme",
              "value": "",
              "type": "string"
            },
            {
              "id": "e0f5c4d3-6f70-8192-a3b4c5d6e7f9",
              "name": "schedule_strategy",
              "value": "",
              "type": "string"
            },
            {
              "id": "f1a6d5e4-7081-9203-b4c5d6e7f80a",
              "name": "start_at_utc",
              "value": "",
              "type": "string"
            },
            {
              "id": "02b7e6f5-8192-a3b4-c5d6e7f80b1c",
              "name": "timezone",
              "value": "",
              "type": "string"
            },
            {
              "id": "884e6c4d-a032-4af0-aede-ac0af13e5e12",
              "name": "git_publication",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "df9b99ac-acdf-462c-8bd3-266156f4e15a",
              "name": "live_site_confirmation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2fcdda7a-b812-4b24-b2aa-5099072127f8",
              "name": "update_calendar",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "2f2e016a-1fec-4ea7-9e82-46571496929f",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ],
      "notes": "Edit worker_base_url, worker_api_key, site_url, topic_theme, schedule_strategy, start_at_utc, and timezone before running. Campaign IDs use public slugs (numeric source prefixes are stripped by the worker)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Single-flight guard (US-010). TTL 2h.\n// Primary: workflow static data. Fallback: lockfile on shared n8n files mount\n// (so CLI/sidecar executes can also observe locks).\nconst TTL_MS = 2 * 60 * 60 * 1000;\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst fs = require('fs');\nconst staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\nconst nowIso = new Date(now).toISOString();\nconst executionId = String($execution.id);\nconst incoming = $input.first().json;\n\nfunction readFileLock() {\n  try {\n    if (!fs.existsSync(LOCK_PATH)) return null;\n    return JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction writeFileLock(lock) {\n  fs.writeFileSync(LOCK_PATH, JSON.stringify(lock), 'utf8');\n}\n\nfunction lockHeld(lock) {\n  const acquiredAt = lock && typeof lock.acquired_at_ms === 'number' ? lock.acquired_at_ms : null;\n  return Boolean(lock && acquiredAt !== null && (now - acquiredAt) < TTL_MS);\n}\n\nlet lock = staticData.flowASingleFlight || null;\nif (!lockHeld(lock)) {\n  const fileLock = readFileLock();\n  if (lockHeld(fileLock)) {\n    lock = fileLock;\n  }\n}\n\nif (lockHeld(lock)) {\n  return [{\n    json: {\n      ...incoming,\n      single_flight_acquired: false,\n      outcome: 'skipped_already_running',\n      single_flight_lock_execution_id: lock.execution_id || null,\n      single_flight_lock_acquired_at_utc: lock.acquired_at_utc || null,\n      single_flight_ttl_hours: 2,\n      checked_at_utc: nowIso,\n    }\n  }];\n}\n\nconst acquired = {\n  execution_id: executionId,\n  acquired_at_ms: now,\n  acquired_at_utc: nowIso,\n};\nstaticData.flowASingleFlight = acquired;\ntry {\n  writeFileLock(acquired);\n} catch (e) {\n  // If shared mount unavailable, static-data lock still applies for in-process runs.\n}\n\nreturn [{\n  json: {\n    ...incoming,\n    single_flight_acquired: true,\n    outcome: 'lock_acquired',\n    single_flight_lock_execution_id: executionId,\n    single_flight_lock_acquired_at_utc: nowIso,\n    single_flight_ttl_hours: 2,\n    checked_at_utc: nowIso,\n  }\n}];\n"
      },
      "id": "1fb01096-5df1-4336-b8ca-18cbad8bf3a9",
      "name": "Single-Flight Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "notes": "US-010 single-flight: static-data + shared-mount lockfile fallback, TTL 2h. If lock held \u2192 outcome skipped_already_running. Worker idempotency remains the completed-work safety net."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a85b360-c1f7-4f2a-9d6b-e616b42cf859",
              "leftValue": "={{ $json.single_flight_acquired }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "acdb60d3-6394-470a-95b6-8bf0c18de635",
      "name": "IF Single-Flight Acquired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {},
      "id": "a477c6c3-9151-4a18-8313-8d9c9a73ba91",
      "name": "Stop Skipped Already Running",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        480
      ],
      "notes": "US-010: concurrent Manual/Schedule while lock held \u2192 outcome skipped_already_running (from Single-Flight Guard). Not a hard failure for schedule."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/health",
        "options": {}
      },
      "id": "2018295a-6fb4-43c6-9adc-1c32f437df68",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "notes": "GET /health \u2014 no authentication required."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a41d025f-f65d-456a-86f3-35f465db30ff",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "healthy"
            },
            {
              "id": "d7ef5203-6d08-4acb-a5e6-69488770265c",
              "leftValue": "={{ $json.folders_ready }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26b635d3-73af-4aac-9a41-92cf2576a390",
      "name": "IF Health Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "42c5c352-8db8-4f69-95a9-96ff0102ad15",
              "name": "outcome",
              "value": "health_not_ready",
              "type": "string"
            },
            {
              "id": "ed576145-3644-4af9-b865-7c88a1e91e8e",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "534a28cd-cfd8-4b06-b93d-c3dbdb36b3f0",
              "name": "folders_ready",
              "value": "={{ $json.folders_ready }}",
              "type": "boolean"
            },
            {
              "id": "02fd5d87-ec83-4823-8452-9227afb79b09",
              "name": "errors",
              "value": "={{ ['worker_not_healthy'] }}",
              "type": "array"
            },
            {
              "id": "13fe6e98-fd94-5934-9563-a338bfc80c1a",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "87c42fdf-3d7c-454c-b7ca-3eafdd28fb81",
      "name": "Set Health Not Ready",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "50a619be-3fdd-4c47-9c31-d24689d8a838",
      "name": "Stop Health Not Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        520
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/process-ready",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Configuration').first().json.worker_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "7525d076-5e83-436a-a90a-b51c8b065438",
      "name": "Process Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "notes": "POST /process-ready \u2014 scans blog-posts/ready/."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bab97d06-a7f0-4c60-91c6-7c5884b73f27",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "failed"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58015f95-77c5-45ec-b47b-1e53e9d8d111",
      "name": "IF Process Ready Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f28f5518-8589-411f-b250-fc7f6803c73f",
              "name": "outcome",
              "value": "process_ready_failed",
              "type": "string"
            },
            {
              "id": "af68b211-d77b-4088-82f9-ba3b6ce16c44",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            },
            {
              "id": "c01d8e72-2181-5c99-ce74-b44d7df91e2b",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "b90cbd60-1070-4b33-bed2-42a6290dda97",
              "name": "metadata_path",
              "value": "={{ $json.metadata_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9aef17ac-c58c-4fa5-985f-9cefbaf98ed4",
      "name": "Set Process Ready Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "f50a64e2-2a49-448a-8076-17caec01c79e",
      "name": "Stop Process Ready Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        520
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f578ffac-296a-4592-bde7-88339c76480a",
              "leftValue": "={{ $json.valid_count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfbc5692-9357-40f7-9a23-c05bc176371c",
      "name": "IF Has Valid Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "2e03eb97-005c-4ae9-a196-052886bdb712",
      "name": "Stop No Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        120
      ],
      "notes": "Clean stop when valid_count is 0. Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "fieldToSplitOut": "valid_files",
        "include": "noOtherFields"
      },
      "id": "cd5ac6b9-da41-4189-9e62-165e4a31f965",
      "name": "Split Out Valid Files",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1540,
        300
      ],
      "notes": "One item per valid_files entry from process-ready."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/publish-blog-post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Configuration').first().json.worker_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const config = $('Set Configuration').first().json; const item = $json; const body = { source_relative_path: item.relative_path }; const siteUrl = (config.site_url || '').trim(); if (siteUrl) body.site_url = siteUrl; if (config.git_publication === true || config.git_publication === 'true') body.git_publication = true; if (config.live_site_confirmation === true || config.live_site_confirmation === 'true') body.live_site_confirmation = true; return JSON.stringify(body); })() }}",
        "options": {}
      },
      "id": "1aab35f5-3c6c-4e4e-90af-459a1084eeb4",
      "name": "Publish Blog Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ],
      "notes": "POST /publish-blog-post \u2014 validates and publishes one ready post. Idempotent completed (already_published) is success."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30cfcbcc-2b96-5d96-c8c9-b6d6c34f5e8f",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "completed"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3b0b500-95cc-411f-9669-da201f308e71",
      "name": "IF Publish Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "80849c5c-6ac8-4872-a084-f60a9639fe02",
              "name": "outcome",
              "value": "publish_failed",
              "type": "string"
            },
            {
              "id": "9e6a4489-e04f-476c-a536-38dda380b8aa",
              "name": "source_relative_path",
              "value": "={{ $json.source_relative_path }}",
              "type": "string"
            },
            {
              "id": "b287f0f8-63d3-4137-9547-45a5d2d431bf",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            },
            {
              "id": "d12e9f83-3292-6daa-df85-c55e8e002f3c",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "73bc76ed-751a-4902-8f4a-a27c0af62bb5",
              "name": "metadata_path",
              "value": "={{ $json.metadata_path }}",
              "type": "string"
            },
            {
              "id": "84cd87fe-862b-5a03-9f5b-b38d1b073cc6",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb558473-7014-4856-b771-ad77ef2f04a7",
      "name": "Set Publish Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "fb50a64e-2a49-448a-8076-17caec01c80f",
      "name": "Stop Publish Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        520
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/generate-linkedin-package",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Configuration').first().json.worker_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const config = $('Set Configuration').first().json; const item = $json; const body = {}; if (item.campaign_id) body.campaign_id = item.campaign_id; else if (item.source_relative_path) body.source_relative_path = item.source_relative_path; const theme = (config.topic_theme || '').trim(); const siteUrl = (config.site_url || '').trim(); if (theme) body.topic_theme = theme; if (siteUrl) body.site_url = siteUrl; return JSON.stringify(body); })() }}",
        "options": {}
      },
      "id": "82d9a597-8641-404b-8a71-bdc2ce893965",
      "name": "Generate LinkedIn Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ],
      "notes": "POST /generate-linkedin-package \u2014 multi-variant package generation inside the worker."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edc632cd-631a-41e4-80c0-15f499ada9d6",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "completed"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a57f6a8f-c5f1-4701-b2f2-6c597a278f2f",
      "name": "IF Package Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "d1438d1e-4175-4f70-be7c-a0e6cad17a3e",
              "name": "outcome",
              "value": "package_failed",
              "type": "string"
            },
            {
              "id": "ce18f4f5-3e95-4cc0-bbf6-c40e2b1ea60b",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "db41d63b-65ab-44f7-9a6b-f6c9232ffa7e",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            },
            {
              "id": "e23f0a94-43ac-7ddb-e096-d67f9d01304d",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "872c21ed-6c2c-464e-a147-460f46f2d31f",
              "name": "metadata_path",
              "value": "={{ $json.metadata_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3216ce72-90a5-453e-909d-e1269ebcebdb",
      "name": "Set Package Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "0c50a64e-3a49-448a-8076-17caec01c810",
      "name": "Stop Package Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        520
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/schedule-linkedin-distribution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Configuration').first().json.worker_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const config = $('Set Configuration').first().json; const item = $json; const body = {}; if (item.campaign_id) body.campaign_id = item.campaign_id; else if (item.source_relative_path) body.source_relative_path = item.source_relative_path; const strategy = (config.schedule_strategy || '').trim(); const startAt = (config.start_at_utc || '').trim(); const tz = (config.timezone || '').trim(); if (strategy) body.strategy = strategy; if (startAt) body.start_at_utc = startAt; if (tz) body.timezone = tz; return JSON.stringify(body); })() }}",
        "options": {}
      },
      "id": "92e9a697-9641-404b-8a71-bdc2ce893966",
      "name": "Schedule LinkedIn Distribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        300
      ],
      "notes": "POST /schedule-linkedin-distribution \u2014 schedules variants with publish_state pending. No LinkedIn API call."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdc632cd-631a-41e4-80c0-15f499ada9d7",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "completed"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b57f6a8f-c5f1-4701-b2f2-6c597a278f30",
      "name": "IF Schedule Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "e1438d1e-4175-4f70-be7c-a0e6cad17a3f",
              "name": "outcome",
              "value": "schedule_failed",
              "type": "string"
            },
            {
              "id": "de18f4f5-3e95-4cc0-bbf6-c40e2b1ea60c",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "eb41d63b-65ab-44f7-9a6b-f6c9232ffa7f",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            },
            {
              "id": "f34a1b05-54bd-8eec-f007-e78a0e124a5e",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "982c21ed-6c2c-464e-a147-460f46f2d320",
              "name": "metadata_path",
              "value": "={{ $json.metadata_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4216ce72-90a5-453e-909d-e1269ebcecdc",
      "name": "Set Schedule Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3080,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "1d50a64e-4b49-448a-8076-17caec01c820",
      "name": "Stop Schedule Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        520
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "26c1d83f-52a2-41ef-b1fe-a864ce37988b",
              "name": "outcome",
              "value": "flow_a_completed",
              "type": "string"
            },
            {
              "id": "de4492ef-4628-4835-b369-0b7219a85fb6",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id || $('Schedule LinkedIn Distribution').first().json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "ccbe66fb-c529-4328-bd13-431addcca3d6",
              "name": "source_public_url",
              "value": "={{ $('Schedule LinkedIn Distribution').first().json.source_public_url }}",
              "type": "string"
            },
            {
              "id": "8e42ae47-5057-45e4-91fa-cb22fa8e8a14",
              "name": "variant_schedules",
              "value": "={{ $('Schedule LinkedIn Distribution').first().json.variant_schedules }}",
              "type": "array"
            },
            {
              "id": "b29c6a78-15db-4c4a-bae1-67575b5680bc",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "5b639267-d262-44f1-9c1a-825c83001e1d",
              "name": "source_relative_path",
              "value": "={{ $('Schedule LinkedIn Distribution').first().json.source_relative_path }}",
              "type": "string"
            },
            {
              "id": "d97b6ec5-22bb-4325-8814-ad3af126867a",
              "name": "source_lifecycle_status",
              "value": "={{ $json.source_lifecycle_status }}",
              "type": "string"
            },
            {
              "id": "38f1482f-f6e4-4f6e-9026-72a9cf5bc8cf",
              "name": "calendar_update_status",
              "value": "={{ $json.calendar_update_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8327f7fe-8317-4d62-9e5d-dcb4d9a602f4",
      "name": "Set Flow A Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "174ea9b9-a197-4469-b954-da1a16ac3227",
      "name": "Release Single-Flight Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        80
      ],
      "notes": "Release single-flight lock after successful Flow A schedule completion."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Configuration').first().json.worker_base_url }}/complete-flow-a-ready-path",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Configuration').first().json.worker_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const config = $('Set Configuration').first().json; const item = $json; const body = {}; if (item.campaign_id) body.campaign_id = item.campaign_id; else if (item.source_relative_path) body.source_relative_path = item.source_relative_path; if (item.source_relative_path) body.source_relative_path = item.source_relative_path; body.update_calendar = !(config.update_calendar === false || config.update_calendar === 'false'); return JSON.stringify(body); })() }}",
        "options": {}
      },
      "id": "e8bed2bd-8254-42a2-a976-a3b8dd752710",
      "name": "Complete Flow A Ready Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        200
      ],
      "notes": "POST /complete-flow-a-ready-path \u2014 lifecycle + calendar after schedule."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e838a734-145d-417c-9670-e170b64177fc",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "completed"
            },
            {
              "id": "59f9b5b0-9db3-430e-93a0-25d3a60ba589",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "skipped"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f01b2d35-a2c4-419f-b188-5cae517228e6",
      "name": "IF Ready Path Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3300,
        200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "9b938ffd-11c1-40fc-80d4-a74e0c54d4e4",
              "name": "outcome",
              "value": "ready_path_completion_failed",
              "type": "string"
            },
            {
              "id": "f4caf35b-f6c4-4e9f-8b2b-84b68d3fa092",
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}",
              "type": "string"
            },
            {
              "id": "95d21049-b86d-4029-82d6-d5cd5cbfbe64",
              "name": "errors",
              "value": "={{ $json.errors }}",
              "type": "array"
            },
            {
              "id": "f2af512e-bfcc-4a66-9287-f3df2be0750f",
              "name": "warnings",
              "value": "={{ $json.warnings || [] }}",
              "type": "array"
            },
            {
              "id": "cc7fc6a3-6ea5-4e82-9b3e-2f4ae5113f6f",
              "name": "source_lifecycle_status",
              "value": "={{ $json.source_lifecycle_status }}",
              "type": "string"
            },
            {
              "id": "ec8a5a1c-d1dc-430b-bd0a-c4382a2cc275",
              "name": "calendar_update_status",
              "value": "={{ $json.calendar_update_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7acdb12c-a9a5-441a-8123-1283e8880059",
      "name": "Set Ready Path Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Best-effort release of Flow A single-flight lock (US-010).\nconst fs = require('fs');\nconst LOCK_PATH = '/home/node/.n8n-files/.silverman-flow-a-single-flight.lock';\nconst staticData = $getWorkflowStaticData('global');\nconst executionId = String($execution.id);\nconst lock = staticData.flowASingleFlight || null;\nif (lock && String(lock.execution_id) === executionId) {\n  delete staticData.flowASingleFlight;\n}\ntry {\n  if (fs.existsSync(LOCK_PATH)) {\n    const cur = JSON.parse(fs.readFileSync(LOCK_PATH, 'utf8'));\n    if (!cur || String(cur.execution_id) === executionId) {\n      fs.unlinkSync(LOCK_PATH);\n    }\n  }\n} catch (e) {\n  // best effort\n}\nconst incoming = $input.first().json;\nreturn [{ json: { ...incoming, single_flight_released: true } }];\n"
      },
      "id": "a064d09f-a7f7-4b67-8a81-c2e4044a25af",
      "name": "Stop Ready Path Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        400
      ],
      "notes": " Releases single-flight lock (US-010 best-effort)."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Single-Flight Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "IF Health Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Health Ready": {
      "main": [
        [
          {
            "node": "Process Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Health Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Health Not Ready": {
      "main": [
        [
          {
            "node": "Stop Health Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ready": {
      "main": [
        [
          {
            "node": "IF Process Ready Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Process Ready Failed": {
      "main": [
        [
          {
            "node": "Set Process Ready Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Has Valid Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Process Ready Error": {
      "main": [
        [
          {
            "node": "Stop Process Ready Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Valid Candidates": {
      "main": [
        [
          {
            "node": "Split Out Valid Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop No Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Valid Files": {
      "main": [
        [
          {
            "node": "Publish Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Blog Post": {
      "main": [
        [
          {
            "node": "IF Publish Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Publish Completed": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Package",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Publish Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Publish Failed": {
      "main": [
        [
          {
            "node": "Stop Publish Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Package": {
      "main": [
        [
          {
            "node": "IF Package Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Package Completed": {
      "main": [
        [
          {
            "node": "Schedule LinkedIn Distribution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Package Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Package Failed": {
      "main": [
        [
          {
            "node": "Stop Package Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule LinkedIn Distribution": {
      "main": [
        [
          {
            "node": "IF Schedule Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Schedule Completed": {
      "main": [
        [
          {
            "node": "Complete Flow A Ready Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Schedule Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schedule Failed": {
      "main": [
        [
          {
            "node": "Stop Schedule Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single-Flight Guard": {
      "main": [
        [
          {
            "node": "IF Single-Flight Acquired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Single-Flight Acquired": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Skipped Already Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Flow A Success": {
      "main": [
        [
          {
            "node": "Release Single-Flight Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Flow A Ready Path": {
      "main": [
        [
          {
            "node": "IF Ready Path Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ready Path Completed": {
      "main": [
        [
          {
            "node": "Set Flow A Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Ready Path Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ready Path Failed": {
      "main": [
        [
          {
            "node": "Stop Ready Path Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "versionId": "c1865cba-805a-4d52-9e44-996da54d4f77",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
